<%-include("./reusableEjs/header.ejs")%>
    <link rel="stylesheet" href="/styles/404.css">
</head>
<body>
    <nav class="navigation-bar">
        <a href="/">Home</a>
        <a href="/users">User</a>
        <a href="/usersById?id=3">User By Id</a>
    </nav>
    <section class="main-content">
        404 Error! Page Not Found
    </section>

<%-include("./reusableEjs/footer.ejs")%>