<%-include("./reusableEjs/header.ejs")%>
    <link rel="stylesheet" href="/styles/homePage.css">
    <script src="/scripts/formValidation.js"></script>
</head>
<body>
    <nav class="navigation-bar">
        <a href="/" class= "<%= path=="/" ? "active" : "" %>">Home</a>
        <a href="/users" class= "<%= path=="/users" ? "active" : "" %>">User</a>
    </nav>
    <section class="main-content">
        <form class="user-details" action="/updateUserInfo" method="post" onsubmit="handleSubmitClick(event)">
            <div class="col">
                <label for="name">Name:</label>
                <input type="text" name="name" placeholder="Enter Your Name" autocomplete="false">
            </div>
            <div class="col">
                <label for="email">Email Address:</label>
                <input type="email" name="email" placeholder="Enter Your Email Address" autocomplete="false">
            </div>
            <div class="col">
                <label for="gender">Gender:</label>
                <div class="radio-button">
                    Male: <input type="radio" name="gender" value="M" id="male">
                    Female: <input type="radio" name="gender" value="F" id="female">
                </div>
            </div>
            <div class="col submit-button">
                <input type="submit" value="Submit" class="submit-button">
            </div>
        </form>
    </section>
<%-include("./reusableEjs/footer.ejs")%>