extend layouts/layout1

block styles
    link(rel="stylesheet", href="/styles/homePage.css")
    script(src="/scripts/formValidation.js") 

block content 
    form(action="/updateUserInfo", method="post",onsubmit="handleSubmitClick(event)").user-details
        .col
            label(for="name") Name: 
            input(type="text", name="name",placeholder="Enter Your Name",autoComplete="off")
        .col
            label(for="email") Email Address:
            input(type="email", name="email",placeholder="Enter Your Email Address",autoComplete="off")
        .col
            label(for="gender") Gender:
            .radio-button Male
                input(type="radio", name="gender",value="male",id="male")
                |Female
                input(type="radio", name="gender",value="female",id="female")
        .col.submit-button
            input(type="submit", value="Submit",class="submit-button") 
            
