doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/styles/homePage.css")
    body 
        header.homepage-header
            a.active(href="/") Home
            a(href="/userPug") User
            a(href="/userDetails") 
        
        main.main-content Hello Buddy sup? #{pageContent}

        footer.homepage-footer Footer of home page
