<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="/styles/homePage.css">
</head>
<body>
    <header class="homepage-header">
        <a href="/">Home</a>
        <a href="/user" class="active">User</a>
    </header>
    <main class="main-content">
        This is a User Page
        <form method="post" action="/user-details">
            <input type="text" name="userName" placeholder="User Name">
            <input type="password" name="password" placeholder="Enter Your Password">
            <input type="Submit" value="Submit">
        </form>
    </main>
    <footer class="homepage-footer">
        Footer of home page
    </footer>
</body>
</html>