doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title User Details
        link(rel="stylesheet", href="/styles/homePage.css")
    body 
        header.homepage-header
            a(href="/") Home
            a(href="/user") User
            a.active(href="/userDetails") Dummy User Details Page
        
        main.main-content This is a User Details Page made from pug
        
        footer.homepage-footer Footer of home page