.user-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 12%;
    height: 100%;
    background-color: aqua;
    width: 25%;
}

.col{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.radio-button{
    display: flex;
    gap: 10px;
}
.submit-button{
    background: orange;
    border: 1px solid darkgoldenrod;
    border-radius: 15px;
}
.submit-button:hover{
    background: red;
}